openai
langchain
langchain-openai
langchain-groq
langchain-google-genai
langchain-community
mistralai
python-dotenv
streamlit
fastapi
uvicorn
pydantic
requests
httpx
transformers
sentence-transformers
faiss-cpu
chromadb
pypdf
tiktoken
numpy
pandas
langchain_huggingface